@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Outfit:wght@300;600&display=swap');

.odd {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.oddly-cool {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

#two {
    color: #0000ff;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}